{% extends "extranet/base.html" %}
{% load report_tags %}
{% block content %}

<div class="table container" id="edit-hours">
    <div class="row"><div class="col-xs-1"><label>
            project
        </label></div><div class="col-xs-1"><label>
            date
        </label></div><div class="col-xs-1"><label>
            start time
        </label></div><div class="col-xs-1"><label>
            end time
        </label></div><div class="col-xs-1"><label>
            hours
        </label></div><div class="col-xs-1"><label>
            tags
        </label></div><div class="col-xs-1"><label>
            repository
        </label></div><div class="col-xs-1"><label>
            issue number
        </label></div><div class="col-xs-1"><label>
            comment
        </label></div><div class="col-xs-1"><label>
            billing month
        </label></div><div class="col-xs-2"><label>
            actions
    </label></div></div>
    {% for row in coder_monthly.iter_hours %}
    <div class="row"><div class="col-xs-1">
            {{ row.project.name }}
    </div><div class="col-xs-1">
        <a href="#" id="date" class="editable" data-type="date" data-pk="{{ row.pk }}" data-url="/post"
           data-title="Input date">

        {{ row.date|date:'Y-m-d' }}
        </a>
    </div>
        <div class="col-xs-1">
            <a href="#" id="start_time" class="editable" data-type="text" data-pk="{{ row.pk }}" data-url="/post"
               data-title="Input start time">
                {{ row.start_time|time:'H:i' }}
            </a>
        </div>
        <div class="col-xs-1">
        <a href="#" id="end_time" class="editable" data-type="text" data-pk="{{row.pk}}" data-url="/post" data-title="Input end time">
        {{ row.end_time|time:'H:i' }}
        </a>
    </div><div class="col-xs-1">
        <a href="#" id="amount" class="editable" data-type="text" data-pk="{{row.pk}}" data-url="/post" data-title="Set hours">
            {{ row.amount }}
        </a>
    </div><div class="col-xs-1">
            {{ row.tags_string}}
    </div><div class="col-xs-1">
            {{ row.repository.get_distinct_name }}
    </div><div class="col-xs-1">
            {{ row.issue.number }}
    </div><td class="comment">
            <a href="#" id="comment" class="editable" data-type="text" data-pk="{{row.pk}}" data-url="/post" data-title="Input comment">

            {{ row.comment }}
                </a>
    </div><div class="col-xs-1">
            {{ row.coder_billing_month|default_if_none:'' }}
    </div><div class="col-xs-1">
        {% if not selected or selected == row %}
            {% if not row.coder_billing_month and not row.project_billing_month %}
                <form action="{% url 'extranet_coder_monthly_edit_row' coder_monthly.coder.user.username coder_monthly.year coder_monthly.month %}" method="{% if selected == row %}POST{% else %}GET{% endif %}">
                    <input type="hidden" name="action" value="delete" />
                    <input type="hidden" name="row_id" value="{{ row.id }}" />
                    {% csrf_token %}
                    <input type="submit" value="{% if selected == row %}Delete!{% else %}Delete?{% endif %}" />
                </form>
            {% endif %}
        {% endif %}
    </div></div>
    {% endfor %}
</div>

    <script type="application/javascript">

        $.fn.editable.defaults.mode = 'popup';
        $(document).ready(function() {
            $('.editable').editable({
                container: 'body'
            });
        });
    </script>

{% endblock content %}

{% block navpath %}

    <a href="{% url 'extranet_home' %}">{{ SITE_NAME }}</a>
    &#x27a3;
    {{ coder_monthly.coder }}
    &#x27a3;
    <a href="{% url 'extranet_coder_monthly' coder_monthly.coder.user.username coder_monthly.year coder_monthly.month %}">{{ coder_monthly.yyyy_mm }}</a>
    &#x27a3;
    {% if selected %}
        <a href="{% url 'extranet_coder_monthly_edit' coder_monthly.coder.user.username coder_monthly.year coder_monthly.month %}">Edit</a>
        &#x27a3;
        <span class="currentpage">Row</span>
    {% else %}
        <span class="currentpage">Edit</span>
    {% endif %}

{% endblock navpath %}

{% block page_title %}

    {{ coder_monthly.yyyy_mm }}
    {{ coder_monthly.coder }}

{% endblock page_title %}

